<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3.5"> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-icon name="person-outline" lines="none"></ion-icon>
    <ion-input placeholder="username" [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person-outline" lines="none"></ion-icon>
    <ion-input placeholder="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person-outline" lines="none"></ion-icon>
    <ion-input placeholder="cidade" [(ngModel)]="user.cidade"></ion-input>
  </ion-item>

  <ion-button expand="block">Atualizar</ion-button>
</ion-content>
